Cython==0.24.1
numpy==1.11.2
numexpr==2.6.1
bcolz==1.1.0
tables==3.3.0
intervaltree==2.1.0
lxml==3.6.4
openpyxl==2.4.0
pandas==0.19.0
psycopg2==2.6.2
PyMySQL==0.7.9
SQLAlchemy==1.1.2
Whoosh==2.7.4
xlrd==1.0.0
xlwt-future==0.8.0
gspread==0.6.2
oauth2client==4.0.0
