Cython==0.23.4
numpy==1.10.1
numexpr==2.4.6
bcolz==0.12.1
tables==3.2.2
intervaltree==2.1.0
lxml==3.5.0
openpyxl==2.3.1
pandas==0.17.1
psycopg2==2.6.1
PyMySQL==0.6.7
SQLAlchemy==1.0.9
Whoosh==2.7.0
xlrd==0.9.4
xlwt-future==0.8.0
