# Used in tox.ini @ py3x-docs

sphinx
sphinx-issues
rinohtype==0.4.2 ; python_version >= '3.5' and python_version <= '3.7.9'
rinohtype==0.5.5 ; python_version >= '3.7' and python_version <= '3.9.9'
rinohtype ; python_version >= '3.10'

# Used for generating docs version from Git

setuptools
setuptools-scm
