Cython
numpy
numexpr
intervaltree>=3.0.2
lxml>=4.6.5
openpyxl>=2.6.2
pandas
Whoosh>=2.7.4
xlrd>=2.0.1
xlwt>=1.3.0
fastavro>=0.24.2 ; python_version >= '3'
fastavro==0.24.2 ; python_version < '3'
gspread>=3.4.0 ; python_version >= '3'

# version 3.9.2 fails with python3.12 on macos-latest: PyTables/PyTables#1093
tables ; sys_platform != 'darwin'

